<h1> Coupons </h1>
<% @merchant.coupons.each do |coupon| %>
  <p> Coupon Name - <a href="/merchants/<%= @merchant.id %>/coupons/<%= coupon.id %>"><%= coupon.name %></a> </p> 
  <p> Dollar Amount Off - $<%= coupon.dollar_off %> </p>
  <p> Percentage Amount Off - <%= (coupon.percent_off * 100).to_i %>% </p>
  
<% end %>