<h1> Coupon Name <%= @coupon.name %> </h1>
<p> Coupon Code <%= @coupon.code %> </p>
<p> Coupon Amount <%= @coupon.amount %> </p>
<p> Coupon Amount Type <%= @coupon.amount_type %> </p>
<p> Coupon Active <%= @coupon.active %> </p>
<div id="status_change">
  <% if @coupon.active == true %>

      <%= link_to "Deactivate Coupon", "/merchants/#{@merchant.id}/coupons/#{@coupon.id}?active=false", method: :patch, params: { coupon: { active: false } } %>
  <% elsif @coupon.active == false %>
      <%= link_to "Activate Coupon", "/merchants/#{@merchant.id}/coupons/#{@coupon.id}?active=true", method: :patch, params: { coupon: { active: true } } %>
  <% end %>
</div>
<p> Coupon Count Successful <%= @coupon.count_successful_coupons %> </p>

