<h1> Coupon Name <%= @coupon.name %> </h1>
<p> Coupon Code <%= @coupon.code %> </p>
<p> Coupon Amount <%= @coupon.amount %> </p>
<p> Coupon Amount Type <%= @coupon.amount_type %> </p>
<p> Coupon Active <%= @coupon.active %> </p>
<p> Coupon Count Successful <%= @coupon.count_successful_coupons %> </p>

